<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ОСТАВИТЬ ОТЗЫВ</title>
</head>
<body>
    <h1>Создание отзыва</h1>
<form action="/make_rev" method = "POST">
   <p>Имя: <input type = "text" name = "name" /></p>
   <p>Текст: <input type = "text" name = "text" /></p>
   <p><input type = "submit" value = "отправить" /></p>
    <br>
</form>
    <a href="{{ url_for('index') }}">на главную</a>
    <a href="{{ url_for('reviews') }}">к отзывам</a>
</body>
</html>