<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>УКОТОВИТЕЛЬСТВО</title>
</head>
<body>
    <h1>Анкета:</h1>
<form action="/get_cat_form" method = "POST">
   <p>Имя: <input type = "text" name = "name" /></p>
   <p>Номер телефона: <input type = "tel" name = "phone_number" /></p>
   <p>Адрес электронной почты: <input type = "email" name = "e_mail" /></p>
   <p>Кличка котика: <input type = "text" name = "cat_name" /></p>
   <p>Расскажите, чем вам приглянулся именно этот котик: <input type = "text" name = "info_text" /></p>
   <p><input type = "submit" value = "отправить" /></p>
    <br>
</form>
    <a href="{{ url_for('index') }}">на главную</a>
</body>
</html>