@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*,*::before,*:after {
    box-sizing: border-box;
    margin: 0;
}
html{
    max-width: 100%;
    max-height: 100%;
}
body{
    font-family: "Philosopher";
    overflow-x: hidden;
    background: #13130E;
    touch-action: none;
}
.container{
    max-width: 1520px;
    margin: 0 auto;
}
.Kotokviz{
    margin: 100px auto 9px;
    width: 807px;
    height: 99px;
}
a{
    text-decoration: none;
    color: #000;
}
.MainKviz {
    position: relative;
    height: auto;
    border-radius: 30px;
    border: 3px solid #FCE6BA;
    width: 1520px;
}
.Result{
    border-radius: 50px;
    border: 2px solid #000;
    background: #FC8B71;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 347px;
    height: 79px;
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 12px;
    padding-left: 26px;
    position: absolute;
    top: 595px;
    left: 586px;
}
.BackMain {
    position: absolute;
    display: flex;
    align-items: center;
    top: 616px;
}
.TextBack {
    color: #FCE6BA;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 5px;
}