@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*,*::before,*:after {
    box-sizing: border-box;
    margin: 0;
}
.container{
    max-width: 1676px;
    margin: 0 auto;
}
html{
    max-width: 100%;
    max-height: 100%;
}
body{
    font-family: "Philosopher";
    overflow-x: hidden;
    background: #13130E;
    touch-action: none;
}
a{
    text-decoration: none;
}
header{
    max-width: 1676px;
    height: 122px;
    margin: 0 auto;
}
.BagPhoto{
    background: url(/static/img/BackgroundPhoto.png);
    width: 1920px;
    height: 1080px;
}
.HeadMenu{
    position: relative;
}
.MenuBg{
    position: absolute;
    max-width: 1676px;
    height: 122px;
    margin: 7px auto 0;
    z-index: 0;
}
.HeaderList{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
    width: 1676px;
    height: 111px;
    position: absolute;
    left: 221px; 
    padding-right: 222px;
    z-index: 10000;
    top: 15px;
}
.Bron{
    width: 227px;
    height: 45px;
    border-radius: 30px;
    background: #876545;
    border: 0;
    box-shadow: 10px 6px 20px 0px #3C250B;
    color: #000;

    font-family: "Philosopher";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
}
.Kviz{
    width: 114px;
    height: 37px;
    border-radius: 30px;
    background: #5D380C;
    box-shadow: 10px 6px 20px 0px #3C250B;
    border: 0;
    color: #D7BDAE;
    font-family: "Philosopher";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
}
.MenuText{
    color: #000;
    font-family: "Philosopher";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
}
.Logo{
    display: flex;
    align-items: center;
}
.LogoText{
    margin-top: 15px;
}
#CatLogo{
    margin-left: 5px;
}

.GroupNameCafe{
    width: 1038px;
    height: 323px;
    position: relative;
    margin-top: 54px;
}
.NameCafe{
    position: absolute;
    z-index: 1000;
    top: 66px;
}
.ShadowMurci{
    border-radius: 100px;
    background: rgba(0, 0, 0, 0.66);
    filter: blur(200px);
    width: 1038px;
    height: 323px;
    position: absolute;
    z-index: 0;
}
.GroupBottom{
    position: relative;
    width: 1676px;
    height: 382px;
    margin-top: 199px;
}
.AboutCafe{
    color: #F9E4D9;
    text-align: right;
    font-family: 'Philosopher';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 146%; 
    letter-spacing: 2.24px;
    position: absolute;
    z-index: 100;
    right: 0;
    top: 27px;
}
.ShadowAbout{
    position: absolute;
    width: 1049px;
    height: 201px;
    border-radius: 100px;
    background: rgba(0, 0, 0, 0.83);
    filter: blur(100px);
    right: 0;
    top: 7px;
    z-index: 1;
}
.ShadowMain{
    width: 1920px;
    height: 382px;
    background: linear-gradient(180deg, rgba(19, 19, 14, 0.00) 0%, #13130E 100%);
    z-index: 0;
    position: absolute;
    top: 0;
    left:0;
    margin-left: -122px;
}
.ButtonMore{
    position: absolute;
    top: 248px;
    left: 145px;
}
.H1About{
    color: #D8C0B2;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 10.5px;
    margin-left: 235px;
    margin-bottom: 65px;
}
.GroupAboutInfo{
    position: relative;
    margin-left: -30px;
    top: 98px;
    height: 1080px;
}
.AboutInfo{
    color: #D8C0B2;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px; 
    letter-spacing: 0.6px;
    width: 1081px;
    position: absolute;
    z-index: 100;

}
.AboutInfo li::marker{
    color: #D8C0B2;
    font-size: 30px;
}
.CatPhotoAbout{
    width: 576px;
    height: 912px;
    position: absolute;
    left: 1040px;
    top: -100px;
}
.ShadowCat{
    position: absolute;
    z-index: 0;
    top: -170px;
    left: -80px;
}
.PagePhotoCafe{
    position: relative;
    height: 1165px;
}
.H1PhotoCafe{
    color: #D8C0B2;
    text-shadow: 39px 26px 40px #000;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.5px;
    position: absolute;
    top: 170px;
    left: 520px;
    z-index: 100;
}

.CatBlack{
    position: absolute;
    left: -40px;
    z-index: 0;
}
.PhotoCafe{
    display: flex;
    top: 380px;
    position: absolute;
}
#Photo1{
    margin-left: -67px;
}
#Photo2{
    margin-left: -35px;

}
#Photo3{
    margin-left: -35px;
}
.PageRules{
    position: relative;
    height: 1430px;
}
.H1Rules{
    color: #D8C0B2;
    text-shadow: 39px 26px 40px #000;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.5px;
    position: absolute;
    top: 145px;
    z-index: 100;
    left: 270px;
}
.RectangleRules{
    position: absolute;
    top: 145px;
    margin-left: -90px;
}
.Rules1{
    width: 909px;
    height: 229px;
    position: absolute;
    border-radius: 200px;
    background: rgba(216, 192, 178, 0.84);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 94px 16px 100px 0px rgba(0, 0, 0, 0.72);
    top: 290px;
    padding-top: 35px;
    margin-left: 10px;
    color: #000;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.6px;
}
.Rules2{
    position: absolute;
    border-radius: 200px;
    background: rgba(216, 192, 178, 0.84);
    box-shadow: 11px 24px 50px 0px rgba(0, 0, 0, 0.47);
    width: 725px;
    height: 110px;
    top: 520px;
    left: 967px;
    padding-top: 20px;
    line-height: normal;
    color: #000;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;

}
.Rules3{
    position: absolute;
    color: #D8C0B2;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
    border-radius: 200px;
    background: rgba(0, 0, 0, 0.84);
    box-shadow: 11px 24px 50px 0px rgba(0, 0, 0, 0.47);
    width: 730px;
    height: 144px;
    top: 630px;
    padding-top: 20px;
    margin-left: 10px;
}
.Rules4{
    position: absolute;
    border-radius: 200px;
    background: rgba(0, 0, 0, 0.84);
    box-shadow: 35px 11px 100px 0px #000, 11px 24px 50px 0px rgba(0, 0, 0, 0.47);
    width: 909px;
    height: 229px;
    flex-shrink: 0;
    color: #D8C0B2;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
    top: 773px;
    left: 788px;
    padding-top: 46px;
}
.Rules5{
    position: absolute;
    border-radius: 200px;
    background: rgba(216, 192, 178, 0.84);
    box-shadow: 11px 24px 50px 0px rgba(0, 0, 0, 0.47);
    width: 730px;
    height: 144px;
    flex-shrink: 0;
    color: #030302;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
    top: 1000px;
    margin-left: 10px;
    padding-top: 20px;
}
.Rules6{
    position: absolute;
    border-radius: 200px;
    background: rgba(0, 0, 0, 0.84);
    box-shadow: 11px 24px 50px 0px rgba(0, 0, 0, 0.47);
    width: 725px;
    height: 110px;
    flex-shrink: 0;
    color: #D8C0B2;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
    top: 1146px;
    left: 960px;
    padding-top: 20px;

}
.PageAdress{
    position: relative;
    height: 1297px;

}
.Varning{
    color: #D8C0B2;
    text-align: center;
    text-shadow: 11px 24px 50px rgba(0, 0, 0, 0.47);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.64px;
    width: 1680px;
    height: 72px;
    position: absolute;
    top: 20px;
    left: 10px;

}
.WhiteCat{
    position: absolute;
    top: -30px;
    left: 225px;

}
.H1Adress{
    color: #D8C0B2;
    text-shadow: 39px 26px 40px rgba(0, 0, 0, 0.14);
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.5px;
    position: absolute;
    top: 228px;
    left: 579px;

}
.Adress{
    position: absolute;
    display: flex;
    height: 497px;
    top: 400px;
    width: 1676px;
    justify-content: flex-end;
    align-items: center;
}
.PhotoAdress{
    position: absolute;
    border-radius: 20px;
    background: rgba(184, 164, 152, 0.50);
    box-shadow: 6px 4px 100px 0px rgba(0, 0, 0, 0.81);
    width: 881px;
    height: 497px;
    padding: 33px 37px;
    left: 8px;
}
.ShadowAdress{
    border-radius: 1000px;
    background: rgba(0, 0, 0, 0.57);
    filter: blur(100px);
    width: 781px;
    height: 196px;
    flex-shrink: 0;
    position: absolute;
    z-index: 0;
    left: 900px;
}
.TextAdress{
    position: absolute;
    margin-left: 12px;
    z-index: 100;
    
}
.TextA{
    z-index: 100;
    color: #D8C0B2;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
}
footer{
    width: 1920px;
    height: 120px;
    background: rgba(117, 105, 96, 1);
    display: flex;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.4px;

}
.Number{
    margin-left: 120px;
    margin-top: auto;
    margin-bottom: auto;

}
.NAME{
    margin-left: 37px;
    margin-top: auto;
    margin-bottom: auto;
}

.Ps{
    margin-left: 71px;
    margin-top: auto;
    margin-bottom: auto;
}
.Socian{
    display: flex;
    align-items: center;
    margin-left: 71px;
}
#Tg{
    width: 40px;
    height: 40px;
}
#Inst{
    width: 40px;
    height: 40px;  
    margin-left: 30px; 
}
#Vk{
    width: 54px;
    height: 54px;
    margin-left: 24px; 
}