@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*,*::before,*:after {
    box-sizing: border-box;
    margin: 0;
}
html{
    max-width: 100%;
    max-height: 100%;
}
body{
    font-family: "Philosopher";
    overflow-x: hidden;
    background: #13130E;
}
.container{
    width: 1520px;
    margin: 0 auto;
}
.Kotokviz{
    margin: 100px auto 9px;
    width: 807px;
    height: 99px;
}
a{
    text-decoration: none;
    color: #000;
}
.MainKviz {
    height: 3200px;
    width: 1520px;
}
.Congratulations {
    position: relative;
    width: 1520px;
    height: 534px;
    border-radius: 30px;
    border: 3px solid #FCE6BA;
}
.CatKviz {
    position: absolute;
    top: 139px;
    left: -38px;
    width: 476px;
    height: 476px;
    z-index: 0;
}
.H1Congr {
    position: absolute;
    color: #EFA179;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    top: 100px;
    left: 319px;
}
.Result {
    position: absolute;
    color: #FC8B71;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    top: 433px;
    left: 510px;
}
.BackMain1 {
    display: flex;
    align-items: center;
    width: 215px;
    position: absolute;
    left: 1260px;
    top: 450px;
}
.TextBack {
    color: #FCE6BA;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 5px;
}
.H1Answer {
    color: #EFA179;
    font-family: Philosopher;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.DAnswer{
    width: 556px;
    margin: 53px auto ;
    height: 72px;
}
.AswerForQuestion {
    border-radius: 30px;
    border: 3px solid #FCE6BA;
    height: 2300px;
    width: 1520px;
}
.ContAnsw{
    width: 1134px;
    height:auto;
    margin: 110px auto 110px auto;
}
.Question{
    color: #FCE6BA;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
    margin-top: 15px;
}
.Answ{
    display: flex;
    margin-top: 20px;
    margin-bottom: 40px;
}
.PYour {
    color: #EFA179;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.YourAnswer {
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #A6BBF0;
}
.PCorrect {
    color: #EFA179;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.CorrectAnswer {
    color: #A6BBF0;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.BackMain2 {
    display: flex;
    align-items: center;
    width: 215px;
    margin: 40px auto 0;
}
.Your{
    border-radius: 30px;
    border: 3px solid rgba(252, 230, 186, 0.49);
    padding: 10px;

}
.Correct{
    padding: 10px;
    margin-left: 40px;
    border-radius: 30px;
    border: 3px solid rgba(252, 230, 186, 0.49);
}
.Arow{
    margin-top: 5px;
}