<!DOCTYPE html>
<html lang="Ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Мурси</title>
</head>
<body>
        <div class="BagPhoto">
            <header>
                <div class="HeadMenu">
                    <svg class="MenuBg" xmlns="http://www.w3.org/2000/svg" width="1678" height="111" viewBox="0 0 1678 111" fill="none">
                        <path d="M0 50C0 22.3858 22.3858 0 50 0H1628C1655.61 0 1678 22.3858 1678 50V61C1678 88.6142 1655.61 111 1628 111H50C22.3858 111 0 88.6142 0 61V50Z" fill="#B49989" fill-opacity="0.71"/>
                    </svg>
                </div>
                <div class="HeaderList">
                    <div class="Logo">
                        <a  class='LogoText' href="index.html"><img src="/static/img/textlogo.png" alt="Текст логотипа"></a>
                        <a id='CatLogo' href="index.html"><img src="/static/img/logo.png" alt="Логотип"></a>
                    </div>
                    <a class='MenuText' href="#">Адрес</a>
                    <a class='MenuText' href="#">Наши коты</a>
                    <a class='MenuText' href="#">Укотовительство</a>
                    <a class='MenuText' href="#">Отзывы</a>
                    <button type="button"class='Bron' href="#">Прайс и бронь</button>
                    <button type="button"class='Kviz' href="#">Квиз</button>
                </div>
            </header>
            <main>
                <div class="container">
                    <div class="MainPage">
                        <div class="GroupNameCafe">
                            <img class='NameCafe' src="/static/img/NameCafe.png" alt="Котокафе Мурси">
                            <div class="ShadowMurci"></div>
                        </div>
                        <div class="GroupBottom">
                            <p class="AboutCafe">В нашем антикафе вы можете находиться в компании <br>кошек 
                            и наслаждаться кофейными напитками и закусками.<br>Кошки будут всегда рядом с вами</p>
                            <div class='ShadowAbout'></div>
                            <div class="ShadowMain"></div>
                            <a  class='ButtonMore' href=""><img src="/static/img/ButtonMore.png" alt="кнопка узнать больше"></a>
                        </div>
                    </div>
                </div>
                    
        </div>
                <div class="container">
                        <div class="GroupAboutInfo">
                            <div class="AboutInfo">
                                <h1 class="H1About">О нашем кафе</h1>
                                <ul>
                                    <li>
                                        Приходя в котокафе, вы в первую очередь приходите в гости к нашим<br> котофеям. Наших котов можно увидеть практически в любом уголке<br> кафе. Все котики гостеприимные и общительные, так что вы точно не<br> останетесь без кошачьего внимания.</li><br>
                                    <li>В антикафе вы можете угоститься кофе или чаем, различными<br> закусками в виде сладостей и снеков, и не только. Так же можно взять<br> еду с собой или заказать доставку.</li><br>
                                    <li>Мы соблюдаем все условия, которые обеспечивают комфорт и<br> безопасность кошек. Все наши пушистики привиты и кастрированы/<br> стерилизованы. Так же у каждого котика есть свой ветеринарный<br> паспорт.</li><br>
                                    <li>Помимо котов и вкусностей, у нас есть небольшая библиотека, зона с<br> настольными играми (от классических шашек и шахмат до мафии и<br> монополии), игровая приставка, бесплатный wi-fi и свободные столики<br> для коворкинга.</li>
                                </ul>
                            </div>
                            <div class="ShadowCat">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1258" height="1287" viewBox="0 0 1258 1287" fill="none">
                                    <g filter="url(#filter0_df_2002_63)">
                                        <path d="M95 132.864C95 107.631 124.255 93.6704 143.87 109.542L377.381 298.48C382.721 302.801 389.382 305.158 396.251 305.158H621.805H835.734C842.245 305.158 848.58 303.039 853.782 299.122L1109.95 106.188C1129.72 91.2982 1158 105.402 1158 130.151V1087C1158 1142.23 1113.23 1187 1058 1187H195C139.772 1187 95 1142.23 95 1087V132.864Z" fill="black"/>
                                    </g>
                                    <defs>
                                        <filter id="filter0_df_2002_63" x="-5" y="0.0966187" width="1263" height="1286.9" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                            <feOffset dy="4"/>
                                            <feGaussianBlur stdDeviation="2"/>
                                            <feComposite in2="hardAlpha" operator="out"/>
                                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2002_63"/>
                                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2002_63" result="shape"/>
                                            <feGaussianBlur stdDeviation="50" result="effect2_foregroundBlur_2002_63"/>
                                        </filter>
                                    </defs>
                                </svg>
                            </div>
                            <div class="CatPhotoAbout">
                                <img src="/static/img/CatPageAbout.png" alt="фото кота">
                            </div>
                        </div>
                        <div class="PagePhotoCafe">
                                <h1 class="H1PhotoCafe">Фото нашего кафе</h1>
                                <img class="CatBlack" src="/static/img/CatBlack.png" alt="черный кот">
                            <div class="PhotoCafe">
                                <img id="Photo1" src="/static/img/Photocafe1.png" alt="фото кафе 1">
                                <img id="Photo2" src="/static/img/PhotoCafe2.png" alt="фото кафе 2">
                                <img id="Photo3" src="/static/img/PhotoCafe3.png" alt="фото кафе 3">
                            </div>
                        </div>
                        <div class="PageRules">
                            <h1 class="H1Rules">Правила поведения в заведении</h1>
                            <img class="RectangleRules" src="/static/img/RectangleRules.png" alt="Фон">
                            <div class="Rules1"><p>При входе в котокафе мы попросим вас снять уличную<br> обувь и обработать руки антисептиком.
                                У нас есть одноразовые носочки и обработанные тапочки, или же вы можете принести свою сменную обувь
                                </p></div>
                            <div class="Rules2"><p>Не фотографируйте в со вспышкой, это может напугать котика</p></div>
                            <div class="Rules3"><p>Не мешайте котам заниматься своими<br> делами, если они захотят, они сами к вам подойдут.</p></div>
                            <div class="Rules4"><p>Перед тем, как угостить наших котиков, обязательно<br> уточните у работника, можно ли ему это и чем в целом<br> лучше будет их угостить. Если хотите, мы с удовольствием дадим вам вкусности, которые они так любят
                            </p></div>
                            <div class="Rules5"><p>Не дёргайте за хвост, лапки, усы и ушки.<br> Коты очень нежные создания, требующие<br> аккуратного и бережного обращения.</p></div>
                            <div class="Rules6"><p>Не шумите, не бегайте и не прыгайте,<br> котики могут вас испугаться!</p></div>
                        </div>
                        <div class="PageAdress">
                            <p class="Varning">ВНИМАНИЕ! У нас нельзя оставлять детей без сопровождения взрослых, а если вы пришли к нам с ребёнком – его нельзя оставлять без присмотра.</p>
                            <img class="WhiteCat" src="/static/img/CatWhite.png" alt="белый кот">
                            <h1 class="H1Adress">Как нас найти?</h1>
                            <div class="Adress">
                                <div class="PhotoAdress">
                                    <img src="/static/img/Adress.png" alt="Фото адреса">
                                </div>
                                <div class="TextAdress"><p class="TextA">Мы находимся в 12-ти минутах пешком от станции<br> метро Авиамоторная, на улице Крузенштерна, 10к1.<br>
                                    Наше кафе открыто ежедневно с 10:00 до 23:00.<br>
                                    Котики ждут вас!</p></div>
                                <div class="ShadowAdress"></div>
                            </div>
                        </div>
                
                </div>
                
            </main>
            <footer>
                <div class="Number">
                    <p>+74953778899</p>
                    <p>+74953778899</p>
                </div>
                <div class="NAME">
                    <p>© О. С. Кривобокова, 2024</p>
                    <p>© С. А. Титова, 2024</p>       
                </div>
                <p class="Ps">материалы, размещенные на сайте, носят вымышленный характер и не являются реальным кафе</p>
                <div class="Socian"><img id="Tg" src="/static/img/Telegram.png" alt="Иконка телеграм">
                <img id="Inst" src="/static/img/Instagram.png" alt="Иконка инстаграм">
                <img id="Vk" src="/static/img/Vk.png" alt="Иконка вконтакте"></div>
            </footer>
</body>
</html>